@font-face {
  font-family: "Bitter";
  src: url(/static/fonts/bitter/Bitter-Regular.ttf) format('truetype');
}

/* line 7, ../sass/screen.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 12, ../sass/screen.scss */
body {
  font-size: 2em;
  height: 100%;
}

/* line 17, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 21, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: Bitter;
}

/* line 26, ../sass/screen.scss */
.base header {
  font-size: 0.8em;
}
/* line 29, ../sass/screen.scss */
.base header .navbar {
  margin-bottom: 0px;
}
/* line 33, ../sass/screen.scss */
.base header .navbar-brand .navbar-brand-text {
  margin: 0px;
  font-size: 2em;
}
/* line 40, ../sass/screen.scss */
.base header .nav li a:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
/* line 46, ../sass/screen.scss */
.base header .nav .selected a:hover {
  border-bottom: 0px;
  background-color: inherit;
}
/* line 52, ../sass/screen.scss */
.base header .navbar-collapse {
  text-transform: uppercase;
}
/* line 54, ../sass/screen.scss */
.base header .navbar-collapse .navbar-btn {
  margin: 10px 60px;
}
/* line 60, ../sass/screen.scss */
.base header .navbar-nav li a {
  position: relative;
  margin: 20px 60px;
  padding: 2px;
}
/* line 65, ../sass/screen.scss */
.base header .navbar-nav li ul {
  font-size: 0.8em;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  padding: 0;
  transition: all .2s ease-in-out;
}
/* line 87, ../sass/screen.scss */
.base header .navbar-nav li ul li {
  display: block;
}
/* line 89, ../sass/screen.scss */
.base header .navbar-nav li ul li a {
  display: block;
  margin: 15px 25px;
}
/* line 92, ../sass/screen.scss */
.base header .navbar-nav li ul li a:hover {
  color: red;
  border-bottom: none;
  text-decoration: none;
}
/* line 100, ../sass/screen.scss */
.base header .navbar-nav li:hover ul {
  margin: 0px;
  opacity: 1;
  visibility: visible;
  transition: opacity .2s, margin .2s, ease-in-out;
}

/* line 113, ../sass/screen.scss */
.index .toppanel {
  height: 50%;
}
/* line 115, ../sass/screen.scss */
.index .toppanel .jumbotron {
  height: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: url("/static/img/workstation.jpg") no-repeat center center fixed;
}
/* line 123, ../sass/screen.scss */
.index .toppanel .jumbotron .container {
  padding: 40px;
  color: white;
}
/* line 132, ../sass/screen.scss */
.index .botpanel {
  font-size: 0.8em;
}
