
.gon {
  height: 220px;
  background: url('/static/img/robertorodriguez.jpg') no-repeat 50% 50%;
  background-size: 220px 220px;
  
  /* Text styling */
  line-height: 220px;
  text-align: center;
  font-family: sans-serif;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 6px;
  color: #fff;
  color: rgba(255,255,255,.5);
  cursor: pointer;
  transition: color 500ms ease, text-shadow 500ms ease;
}
.gon:hover {
  color: #fff;
  text-shadow: 0 0 10px white;
}

.penta {
  height: 200px;
  -webkit-clip-path: polygon(
    50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%
  );
  -moz-clip-path: polygon(
    50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%
  );
  -ms-clip-path: polygon(
    50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%
  );
  clip-path: polygon(
    50% 0, 100% 38%, 81% 100%, 19% 100%, 0 38%
  );
}
.hexa {
  width: 190px;
  -webkit-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -moz-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  -ms-clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
  clip-path: polygon(
    50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%
  );
}
.hepta {
  height: 215px;
  -webkit-clip-path: polygon(
    50% 0, 90% 19%, 100% 62%, 72% 100%, 28% 100%, 0 62%, 10% 19%
  );
  -moz-clip-path: polygon(
    50% 0, 90% 19%, 100% 62%, 72% 100%, 28% 100%, 0 62%, 10% 19%
  );
  -ms-clip-path: polygon(
    50% 0, 90% 19%, 100% 62%, 72% 100%, 28% 100%, 0 62%, 10% 19%
  );
  clip-path: polygon(
    50% 0, 90% 19%, 100% 62%, 72% 100%, 28% 100%, 0 62%, 10% 19%
  );
}
.octa {
  -webkit-clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
  -moz-clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
  -ms-clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
  clip-path: polygon(
    29% 0, 71% 0, 100% 29%, 100% 71%, 71% 100%, 29% 100%, 0 71%, 0 29%
  );
}
.nona {
  -webkit-clip-path: polygon(
    50% 0, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%
  );
  -moz-clip-path: polygon(
    50% 0, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%
  );
  -ms-clip-path: polygon(
    50% 0, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%
  );
  clip-path: polygon(
    50% 0, 83% 12%, 100% 43%, 94% 78%, 68% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%
  );
}
