{% extends "skeleton.html" %}
{% load cms_tags twitter_tags %}

{% block body_class %}{{ block.super }} index{% endblock %}

{% block content %}
    <div class="col-md-11 container">
        {% placeholder "IndexBlog" %}
    </div>
{% endblock content %}

{% block sidebar%}
    <div class="col-lg-12">
        {% placeholder "toppanel-2" or %}{% endplaceholder %}
    </div>
    <div class="col-md-12">
        <img id="profilePicture" src="{{ STATIC_URL }}img/robertorodriguezcropped.jpg" />
    </div>
    <div class="col-md-12 social twitter">
        {% twitter_feed %}
    </div>
    <hr class="invisible">
{% endblock sidebar %}
