@font-face {
  font-family: "Bitter";
  src: url('/css/fonts/../../static/fonts/bitter/Bitter-Regular.ttf') format('truetype');
}

/* line 18, ../sass/screen.scss */
html {
  height: 100%;
  width: 100%;
}

/* line 23, ../sass/screen.scss */
body {
  font-size: 2.5em;
  height: 100%;
}

/* line 28, ../sass/screen.scss */
ul {
  list-style: none;
}

/* line 32, ../sass/screen.scss */
h1, h2, h3, h4 {
  font-family: Bitter;
}

/* line 38, ../sass/screen.scss */
.base .navbar-brand .navbar-brand-text {
  margin: 0px;
}
/* line 43, ../sass/screen.scss */
.base header {
  font-size: 0.8em;
}
/* line 46, ../sass/screen.scss */
.base header .navbar {
  margin-bottom: 0px;
}
/* line 51, ../sass/screen.scss */
.base header .nav li a:hover {
  border-bottom-width: 2px;
  border-bottom-style: solid;
}
/* line 57, ../sass/screen.scss */
.base header .nav .selected a:hover {
  border-bottom: 0px;
  background-color: inherit;
}
/* line 69, ../sass/screen.scss */
.base header .navbar-nav {
  text-transform: uppercase;
}
/* line 72, ../sass/screen.scss */
.base header .navbar-nav > li a {
  position: relative;
  margin: auto 40px;
}
/* line 76, ../sass/screen.scss */
.base header .navbar-nav > li > ul {
  font-size: 0.8em;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  list-style: none;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-top: 20px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  background-clip: padding-box;
  padding: 0;
  transition: all .2s ease-in-out;
}
/* line 98, ../sass/screen.scss */
.base header .navbar-nav > li > ul li {
  display: block;
}
/* line 100, ../sass/screen.scss */
.base header .navbar-nav > li > ul li a {
  display: block;
  margin: 15px 25px;
}
/* line 103, ../sass/screen.scss */
.base header .navbar-nav > li > ul li a:hover {
  color: red;
  border-bottom: none;
  text-decoration: none;
}
/* line 111, ../sass/screen.scss */
.base header .navbar-nav > li:hover ul {
  margin: 0px;
  opacity: 1;
  visibility: visible;
  transition: opacity .2s, margin .2s, ease-in-out;
}
/* line 119, ../sass/screen.scss */
.base header .navbar-form {
  margin-top: 5px;
}

/* line 129, ../sass/screen.scss */
.index .toppanel .gigantetron {
  height: 500px;
  background-image: url("../img/robertorodriguez.jpg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: scroll;
  -webkit-background-size: auto 100%;
  -moz-background-size: auto 100%;
  -o-background-size: auto 100%;
  background-size: auto 100%;
  line-height: 500px;
  transition: border-radius 4000ms ease;
  -webkit-box-shadow: inset 2px 2px 10px #333333;
  -moz-box-shadow: inset 2px 2px 10px #333333;
  box-shadow: inset 2px 2px 10px #333333;
}
/* line 139, ../sass/screen.scss */
.index .toppanel .gigantetron:hover {
  border-radius: 100%;
  transition: border-radius 2000ms ease;
}
/* line 145, ../sass/screen.scss */
.index .midpanel h1 {
  font-size: 2.5em;
}
/* line 151, ../sass/screen.scss */
.index .botpanel {
  font-size: 0.8em;
}
/* line 154, ../sass/screen.scss */
.index .botpanel .twitter .tweet {
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0px 0px 10px 0px;
}
/* line 161, ../sass/screen.scss */
.index .botpanel .blog {
  text-align: justify;
  font-size: 0.9em;
}
/* line 76, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
.index .botpanel .blog p + p {
  text-indent: 2em;
  margin-top: -0.5em;
  /* Don't want this in forms. */
}
/* line 13, ../sass/screen.scss */
form .index .botpanel .blog p + p {
  text-indent: 0;
}
/* line 78, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
.index .botpanel .blog p.incr,
.index .botpanel .blog .incr p {
  font-size: 0.83333em;
  line-height: 1.44em;
  margin-bottom: 1.5em;
}
/* line 13, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
.index .botpanel .blog .caps {
  font-variant: small-caps;
  letter-spacing: 1px;
  text-transform: lowercase;
  font-size: 1.2em;
  line-height: 1%;
  font-weight: bold;
  padding: 0 2px;
}
/* line 14, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
.index .botpanel .blog .dquo {
  margin-left: -0.5em;
}
/* line 15, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.2/frameworks/blueprint/stylesheets/blueprint/_fancy-type.scss */
.index .botpanel .blog .alt {
  color: #666666;
  font-family: "Warnock Pro", "Goudy Old Style", "Palatino", "Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
}
/* line 167, ../sass/screen.scss */
.index .botpanel .blog .entry-body p:first-child {
  font-size: 1.2em;
}
/* line 170, ../sass/screen.scss */
.index .botpanel .blog .entry-info {
  font-size: 0.9em;
}
/* line 171, ../sass/screen.scss */
.index .botpanel .blog .entry-last-update, .index .botpanel .blog .entry-footer {
  display: none;
}

/* line 182, ../sass/screen.scss */
.page .backdrop .marged {
  margin: 80px 0px 110px 0px;
}
/* line 185, ../sass/screen.scss */
.page .backdrop .padded {
  padding: 90px 10px 120px 10px;
}

/* line 196, ../sass/screen.scss */
#thecity .jumbotron {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-attachment: fixed;
  background: url("static/img/thecity.jpg") no-repeat center center fixed;
}
/* line 203, ../sass/screen.scss */
#thecity .jumbotron .container {
  -webkit-box-shadow: 0px 0px 5px #333333;
  -moz-box-shadow: 0px 0px 5px #333333;
  box-shadow: 0px 0px 5px #333333;
}
