$time: #48555E; // Text, shadows, borders, etc
$gold: #C6B712; // Links, highlighted text
$dream: #1577B7; // Soft borders, backdrops, sections
$sky: #10B1E2;  // Muted text
$dedede: #DEDEDE; // Pukey. Use sparingly.
$ink: #333; // Used for all regular text
$twitter-primary: #55ACEE; // Twitter link color

$colors: 
    time #48555E,
    gold #C6B712,
    dream #1577B7, 
    sky #10B1E2,
    dedede #DEDEDE, 
    ink #333,
    twitter-primary #55ACEE,
    white #FFFFFF
;

/* 
Color template by Jdsfighter
http://www.colourlovers.com/palette/1411463/Developers_Dream
*/

body {
color: $ink;
}

@function getColor ($colorName) {
  // Run across the color list.
  @each $color in $colors {

    // If the key (first child of the current $color) is
    // the same as the specified by params, return the value.
    @if nth($color, 1) == $colorName {
      @return nth($color, 2);
    }
  }
}

@mixin class-colors($class, $colors, $target) {
    @each $color in $colors {
        .#{$class}-#{nth($color, 1)} {
            #{$target}: nth($color, 2);
        }
    } 
}

@include class-colors(bgcolor, $colors, background);
@include class-colors(color, $colors, color);

.full-height {
    height: 100%;
    }
   
a {
// Reset all links
color: $time;
&:hover { color: $time; }
}

.backdrop {}

.base {
    header {
        .selected {
/*            a { color: $sky; }*/
            a { color: white; }
           }
        .navbar {
            background: #02535e;
            .navbar-header {
                .navbar-brand {
                    .logo {
                        color: $sky;
                       }
                   }
                .navbar-toggle {
                    background: #fdfdfd;
                    .icon-bar {
                        background: $dream;
                       }
                   }
               }
            .navbar-text {
                color: #777;
               }
           }
        .nav {
             li {
                a:hover { 
                    border-bottom-color: $gold;
                    background-color: inherit;
                   }
               }
            }
       }
    .toppanel {
        margin:50px 0 0 0;
        }   
    .botpanel {
        .twitter {
            .tweets { padding: 0; }
            .tweet {
                a { color: $twitter-primary; }   
               }
           }
       }
    .midpanel {
        .blog {
            a {
                color: $gold;
            }
            .hentry {
                border-bottom: 1px solid $sky;
            }
        }
    }
    .footer {
        background:#02535e;
        .navbar {
            background:#02535e;
            -webkit-box-shadow: none;
            box-shadow: none;
            color: $sky;
            a {
                color:$sky;
            }
        }
    }
}

#thecity {
    color: white;
    .jumbotron {
        .container {
            border-radius: 10px;
            background: transparentize($dream, 0.4);
           } 
       }
   }
