$ink: #333;

$s3Static: "http://static.thinkcrunch.com/";

@import "compass/css3";
@import "blueprint/fancy-type";
@import "blueprint/typography";

@include font-face("Bitter", font-files($s3Static + "fonts/bitter/Bitter-Regular.ttf"));

@mixin sibling-indentation {
  text-indent: 2em;
  margin-top: -0.5em;
  /* Don't want this in forms. */
  form & {
    text-indent: 0;
  }
}

.font-size-large {
    font-size: 2em;
}

html {
    height: 100%;
    width: 100%;
   }

body {
    font-size: 100%;
    height: 100%;
   }

ul {
    list-style: none;
   }

h1, h2, h3, h4, .header-font {
    font-family: Bitter;
   }

.base { // Begin .base
    .navbar-brand {
            .navbar-brand-text {
                margin: 0px;

               }
           }
    header {
        font-size: 2em;
        .navbar {
            margin-bottom: 0px;
           }
        .nav {
             li {
                a:hover {
                    border-bottom-width: 2px;
                    border-bottom-style: solid;
                   }
               }
             .selected {
                a:hover {
                    border-bottom: 0px;
                    background-color: inherit;
                   }
               }
       }
        .navbar-collapse {

            .navbar-btn {

               }
           }
        .navbar-nav {
            text-transform: uppercase;
            > li {
                a {
                    position: relative;
                    margin: auto 40px;
                   }
                > ul {
                    font-size: 0.8em;
                    visibility: hidden;
                    opacity: 0;
                    position: absolute;
                    top: 100%;
                    left: 0;
                    z-index: 1;
                    float: left;
                    min-width: 160px;
                    padding: 5px 0;
                    list-style: none;
                    background-color: #fff;
                    border: 1px solid #ccc;
                    margin-top: 20px;
                    border: 1px solid rgba(0,0,0,0.15);
                    border-radius: 4px;
                    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                    box-shadow: 0 6px 12px rgba(0,0,0,0.175);
                    background-clip: padding-box;
                    padding: 0;
                    transition: all .2s ease-in-out;
                    li {
                        display: block;
                        a {
                            display: block;
                            margin: 15px 25px;
                            &:hover {
                                color: red;
                                border-bottom: none;
                                text-decoration: none;
                               }
                           }
                       }
                   }
               &:hover ul {
                    margin: 0px;
                    opacity: 1;
                    visibility: visible;
                    transition: opacity .2s, margin .2s, ease-in-out;
                   }
               }
           }
        .navbar-form {
             margin:0;
             &.navbar-right:last-child {margin:0;}
        }
       }
    .navbar-brand-text {
        font-size:1.5em;
    }
   } // End .base

.index { // Begin .index

    .toppanel {
        #profilePicture {
            width: inherit;
        }
        margin-bottom: 10px;
    }

    .midpanel {
        h1 {
            font-size: 6em;
            }
        .blog {
            text-align: left;
            @include fancy-type;
            font-size: 2em;
            .entry-body {
                p {
                    &:first-child { font-size: 1.2em; }
                   }
               }
            .entry-info { font-size: 1em; }
            .entry-last-update, .entry-footer { display: none; }
           }
    }

    .toppanel {
        font-size: 1.2em;
        .twitter {
            margin-top: 20px;
            .tweets {
                margin:0;
                padding:0;
            }
            .tweet {
                font-size: 1.4em;
                line-height: 1.4em;
                margin: 0px 0px 10px 0px;

               }
           }
       }
} // End .index

.page { // Begin .page
    .backdrop {
        .container {

        }
        .marged {
            margin: 80px 0px 110px 0px;
        }
        .padded {
            padding: 90px 10px 120px 10px;
        }
    }
}

#topBar {
    background: #333;
    height: 20px;
    margin: 0px;
}
